*.csproj
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
test.cs
testscript.cs
sometestingshit.cs
1231231231asdasd.cs
followerbot.cs
followerbot2.cs
NNgt.cs
roent.cs
Class1.cs
213123.cs
Assisting_Oblivion_Blade.cs
bluu_emblemOfNulgath.cs
Template.cs
*.cache
*.txt
Bluu Bot Template.cs
